@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  color: #4c4c4c
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #284159;
  overflow: auto;
}

.content {
  width: 100%;
  height: 100vh;
  padding-top: $offset-8;
  background-color: #ffffff;
  overflow: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  min-height: 1px;
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;

  &-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  &:not(:last-of-type) {
    margin-right: $offset-32;
  }

  &_sm {
    flex: 0 0 300px;
    max-width: 300px;
  }
}

p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  color: #000;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 20px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}



.profile {
  background-color: #e6e6e6;

  &--img {
    margin-right: $offset-32;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &:hover .profile__overflow {
      opacity: 1;
    }
  }

  &--info {
    padding-top: $offset-24;
    display: flex;
    flex-direction: column;
  }

  &--text {
    font-weight: 700;
    line-height: 1.2rem;
    margin-bottom: $offset-16;
  }

  &--skills {
    margin-bottom: $offset-8;
    margin-left: -$offset-4;
  }
}

.label {
  display: inline-flex;
  align-items: center;
  padding: 0 $offset-12;
  line-height: 1.65rem;
  vertical-align: top;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;

  &:not(:last-child) {
    margin-right: $offset-4;
  }

  &.black {
    background-color: black;
  }

  &.grey {
    background-color: #5c5c5c;
  }

  &.light-grey {
    background-color: #a2a2a2;
  }
}

.item {
  border: solid 1px #e6e6e6;
  border-right: none;
  flex: 0 0 25%;
  max-width: 25%;

  &:last-child {
    border-right: solid 1px #e6e6e6;
  }

  &--container {
    display: flex;
    flex-wrap: wrap;
  }

  &--header {
    height: 70px;
    padding-top: $offset-16;


    &.white {
      padding: 0 16px;
      padding-top: 16px;
      background-color: rgba($color: #fff, $alpha: 0.8);
    }
  }

  &--heading {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
  }

  &--subheading {
    text-align: center;
  }

  &.code {
    background-image: url('../img/code.png');
    background-size: cover;
  }
}

ul {
  padding-inline-start: $offset-24;
  li {
    line-height: 1.4rem;
  }
}
